@charset "utf-8";
/* CSS Document */

body {
	margin: 0px;
	padding: 0px;
}

.container {
	width: 1000px;	
	margin: 0px auto;
}

.clear {
	clear: both;
}

#header {
	position: relative;
}

.top-right-button, .del-button, .edit-button {
	position: absolute;
	right: 2px;
	top: 2px;
}

.del-button {
	right: 30px;
}

.toolbar-button {
	padding: 0 3px;
	margin: 5px;
	cursor: pointer;
	border: thin solid #000;
	text-align: center;
	background: #FFF;
	text-decoration: none;
	color: #000;
}

#col-left {
	width:200px;
	float: left;
	margin: 0 5px 0 0;
	min-height: 500px;
	position: relative;
}

#col-right {
	width: 795px;
	float:left;
	margin: 0px;
	min-height: 500px;
	position: relative;
}

.box {
	margin: 0 0 5px 0;
	padding: 0 5px 5px 5px;
	border: thin solid #000;
	background:#FFF;
	position: relative;
}

.box #title {
	padding: 3px 5px;
	margin: 0 -5px 5px -5px;
	background:#666;
}

.acticle {
	margin: 0 0 10px 0;
	background: #FFF;
	position: relative;
}

.acticle #headline {
	font-weight: bold;
}