#col-main {
	width:768px;
	float: right;
	margin: 0px;
	min-height: 500px;
	position: relative;
	background-color: white;
	margin: 2px;
}

#col-1 {
	width: 200px;
	float:left;
	margin: 2px 5px 2px 2px;
	min-height: 500px;
	position: relative;
}

#col-2 {
	display: none;
}