#col-main {
	width:770px;
	float: right;
	margin: 0px;
	min-height: 500px;
	position: relative;
	background-color: white;
}

#col-1 {
	width: 200px;
	float:left;
	margin: 0px 5px 0px 0px;
	min-height: 500px;
	position: relative;
}

#col-2 {
	display: none;
}