#col-main {
	width:560px;
	float: left;
	min-height: 500px;
	position: relative;
	background-color: white;
	margin: 2px;
}

#col-1 {
	width: 200px;
	float:right;
	min-height: 500px;
	position: relative;
	margin: 2px;
}

#col-2 {
	width: 200px;
	float:right;
	min-height: 500px;
	position: relative;
	margin: 0px 10px;
	margin: 2px 5px 2px 5px;
}