.mouseOn	{width:80px;color:#ff00ff;font-weight:600;font-size:14px;font-family:tahoma;background-color:#ffffea;border:outset 2px #dfdcdc;}
.mouseOut	{width:80px;color:#333399;font-weight:600;font-size:14px;font-family:tahoma;background-color:#edefea;border:outset 2px #aeaeae;}
.mOn		{background-color:navy;color:#ffffff;}
.mOut		{background-color:#ffffff;color:navy;}
.cOver		{width:16px;height:16px;border:1px solid #ff66ff;cursor:default;}
.cOut		{width:16px;height:16px;border:1px solid #cccccc;cursor:default;}
.bOver		{width:21px;height:20px;border:1px solid #ff66ff;cursor:default;}
.bOut		{width:21px;height:20px;border:1px solid #ffffff;cursor:default;}
.Avimbar	{width:420px;color:navy;font-size:12px;font-family:sans-serif;margin-top:25px;}
.Avimbar span{color:#502f90;font-family:serif;font-size:12px;}
.ctr	{color:#0000ff;font-size:14px;font-weight:500;font-family:serif;text-decoration:underline;cursor:pointer;}
.ctrE	{color:#0000ff;font-weight:500;text-decoration:underline;font-family:arial;font-size:14px;cursor:pointer;}

#tab-buttons{
	list-style:none;
}
#tab-buttons li{
	display:inline-block;
	border:1px solid #ccc;
	margin:5px;
	padding:2px;
}
#tab-buttons li a{
	text-decoration:none;
}
.active-tab{
	background-color:white;
}
.unactive-tab{
	background-color:grey;
}
#image-info{
	
}